* {
	box-sizing: border-box;
}

body {
	font-family: 'Signika', sans-serif;
	background-color: #cc5577;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23cc5577' width='11' height='11'/%3E%3Crect fill='%23ce5776' x='10' width='11' height='11'/%3E%3Crect fill='%23d05a76' y='10' width='11' height='11'/%3E%3Crect fill='%23d15c75' x='20' width='11' height='11'/%3E%3Crect fill='%23d35f74' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23d46174' y='20' width='11' height='11'/%3E%3Crect fill='%23d66473' x='30' width='11' height='11'/%3E%3Crect fill='%23d76673' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d96972' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23da6c72' y='30' width='11' height='11'/%3E%3Crect fill='%23db6e71' x='40' width='11' height='11'/%3E%3Crect fill='%23dc7171' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23dd7471' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23de7671' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23df7971' y='40' width='11' height='11'/%3E%3Crect fill='%23e07c71' x='50' width='11' height='11'/%3E%3Crect fill='%23e17e71' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23e28171' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23e38471' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23e38771' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23e48972' y='50' width='11' height='11'/%3E%3Crect fill='%23e58c72' x='60' width='11' height='11'/%3E%3Crect fill='%23e58f73' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23e69173' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23e69474' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23e79775' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23e79a75' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23e89c76' x='70' width='11' height='11'/%3E%3Crect fill='%23e89f77' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23e8a278' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23e9a47a' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23e9a77b' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23e9aa7c' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23e9ac7e' x='80' width='11' height='11'/%3E%3Crect fill='%23eaaf7f' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23eab281' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23eab482' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23eab784' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23eaba86' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23ebbc88' x='90' width='11' height='11'/%3E%3Crect fill='%23ebbf8a' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23ebc18c' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23ebc48e' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23ebc790' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23ebc992' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23ebcc94' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23ebce97' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23ebd199' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23ecd39c' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23ecd69e' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ecd8a1' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23ecdba4' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ecdda6' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23ece0a9' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ede2ac' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23ede4af' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23ede7b2' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ede9b5' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23eeecb8' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;

}

h1 {
	margin: 0;
}

h3 {
	font-family: 'Cantarell', sans-serif;
	padding-left: 8px;
}

.main-dashboard {
	margin-bottom: 30px;
}


.border-bottom {
	padding-top: 30px;
	border-top: 1px solid black;
	width: 100%;
}

.container {
	width: 700px;
	margin: 0 auto;
	background-color: #ECFEE8;
	color: #404040;
}

.inline-blocked {
	display: inline-block;
}

header {
	margin-top: 20px;
	background-color: #C2EFEB;
	width: 100%;
	height: 100px;
	color: #5D5D5D;
	text-align: left;
	line-height: 100px;
	font-size: 18px;
	padding-left: 40px;
	font-family: 'Cantarell', sans-serif;
}

footer {
	background-color: #331E36;
	height: 40px;
	line-height: 40px;
	text-align: left;
	padding-left: 40px;
	color: #fff;
	font-family: 'Cantarell', sans-serif;
}

.dashboard-thumbnail {
	display: inline-block;
	width: 35%;
	height: 100px;
	padding-top: 9px;
	margin-left: 10px;
}

.dashboard-circles {
	height: 70px;
	width: 70px;
	background-color: #41337A; 
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	color: #fff;
	margin-right: 20px;
	float: left;
	font-size: 26px;
}

#post-circle {
/*	background-color: #C2EFEB;*/
	margin-left: 60px;
}

#image-circle {
	/*background-color: #C2EFEB;*/
	margin-left: 60px;
}

.post {
	margin-bottom: 30px;
}

#post-title {
	width: 100%;
	padding: 10px;
	border-radius: 2px;
	margin-bottom: 20px;
	border: 0.5px solid black;
}

#post-content {
	width: 100%;
	height: 100px;
	padding: 10px;
	border-radius: 2px;
	margin-bottom: 20px;
	border: 0.5px solid black;
}

.btn {
	border: none;
	padding: 15px 30px;
	font-size: 14px;
	border-radius: 5px;
	color: #fff;
}

.btn-blue {
	background-color: #6EA4BF;
}

.btn-green {
	background-color: #6EA4BF;
}

#btn-browse {
	margin-left: 20px;
}

.hide-overflow {
	overflow: hidden;
}

.img-set {
	height: 70px;
	width: 100px;
	background-color: #fff;
	padding: 5px;
	border-radius: 5px;
	margin: 0 5px;
}

.img-set-holder {
	text-align: center;
	margin-bottom: 20px;
}

.dashboard-text {
	margin: 0;
	font-size: 17px;
	width: 100%;
	text-align: center;
	padding: 5px;
}

main {
	padding: 20px;
}

#btn-publish,
#btn-upload,
#btn-browse {
	float: right;
}

.btn:hover {
	color: #6EA4BF;
	background: transparent;
	border: .5px solid #6EA4BF;
	transition: 0.3s;
}