* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Signika', sans-serif;
	background-color: #DBE9EE;
}

h1 {
	margin: 0;
	color: #166088;
}

h3 {
	font-family: 'Cantarell', sans-serif;
	padding-left: 8px;
	margin-bottom: 25px;
}

.main-dashboard {
	margin-bottom: 30px;
}


.border-bottom {
	padding-top: 30px;
	border-top: 1px solid black;
	width: 100%;
}

.container {
	width: 700px;
	margin: 0 auto;
	background-color: #DBE9EE;
	color: #404040;
}

.inline-blocked {
	display: inline-block;
}

header {
	background-color: #C0D6DF;
	width: 100%;
	height: 100px;
	color: #5D5D5D;
	text-align: left;
	line-height: 100px;
	font-size: 18px;
	padding-left: 40px;
	font-family: 'Cantarell', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
}

footer {
	background-color: #4A6FA5;
	height: 40px;
	line-height: 40px;
	text-align: left;
	padding-left: 40px;
	color: #fff;
	font-family: 'Cantarell', sans-serif;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
}

.dashboard-thumbnail {
	display: inline-block;
	width: 35%;
	height: 100px;
	padding-top: 9px;
	margin-left: 10px;
}

.dashboard-circles {
	height: 70px;
	width: 70px;
	background-color: #166088; 
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	color: #fff;
	margin-right: 20px;
	float: left;
	font-size: 26px;
}

#post-circle {
/*	background-color: #C2EFEB;*/
	margin-left: 60px;
}

#image-circle {
	/*background-color: #C2EFEB;*/
	margin-left: 60px;
}

.post {
	margin-bottom: 30px;
}

#post-title {
	width: 100%;
	padding: 10px;
	border-radius: 2px;
	margin-bottom: 20px;
	border: 0.5px solid black;
}

#post-content {
	width: 100%;
	height: 100px;
	padding: 10px;
	border-radius: 2px;
	margin-bottom: 20px;
	border: 0.5px solid black;
}

.btn {
	border: none;
	padding: 15px 30px;
	font-size: 14px;
	border-radius: 5px;
	color: #fff;
	transition: 0.3s;
}

.btn-blue {
	background-color: #4F6D7A;
}

.btn-green {
	background-color: #4F6D7A;
}

#btn-browse {
	margin-left: 20px;
}

.hide-overflow {
	overflow: hidden;
}

.img-set {
	height: 70px;
	width: 100px;
	background-color: #fff;
	padding: 5px;
	border-radius: 5px;
	margin: 0 5px;
}

.img-set-holder {
	text-align: center;
	margin-bottom: 20px;
}

.dashboard-text {
	margin: 0;
	font-size: 17px;
	width: 100%;
	text-align: center;
	padding: 5px;
}

main {
	padding: 20px;
	margin-top: 120px;
}

#btn-publish,
#btn-upload,
#btn-browse {
	float: right;
}

.btn:hover {
	color: #6EA4BF;
	background: #C0D6DF;
	transition: 0.3s;
}

img:hover {
	opacity: 0.5;
}